/* EMPIEZA NAVBAR */

.logo {
    width: 60%;
}

#logoLg {
    width: 30%;
}

.logoLgImg {
    width: 60%;
}

#logoSm {
    display: none;
}

.nav-link {
    margin: 0px 10px;
}

.margenIzq {
    margin-left: 70px;
}


/* TERMINA NAVBAR */


/* EMPIEZA PRINCIPAL */

.sombra {
    box-shadow: 10px 10px 50px -15px rgba(0, 0, 0, 0.75);
}


/* TERMINA PRINCIPAL */


/* COMIENZA BANNER COVID */

.anchoCovid {
    width: 100%;
}


/* TERMINA BANNER COVID */


/* MEDIA QUERIES */


/* TELÉFONOS Y MÁS PEQUEÑOS*/

@media (max-width: 767.98px) {
    #logoSm {
        display: block;
        width: 30%;
    }
    #logoLg {
        display: none;
    }
    .logo {
        width: 30%;
    }
    .margenIzq {
        margin: 0%;
    }
    .anchoCovid {
        width: 100%;
    }
}


/* TABLETS */

@media (min-width: 768px) and (max-width: 1198px) {
    #logoSm {
        display: none;
    }
    #logoLg {
        display: block;
    }
    .margenIzq {
        margin: 0%;
    }
}